* {
  box-sizing: border-box;
}

.org-right {
  margin-left: auto;
  margin-right: 0px;
  text-align: right;
}

.org-left {
  margin-left: 0px;
  margin-right: auto;
  text-align: left;
}

.org-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.fl {
  float: left;
  _display: inline;
}

.fr {
  float: right;
  _display: inline;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 2rem;
  background-color: #282c34;
  color: #bbc2cf;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
}

.title {
  color: #73797e;
}

h1 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1;
  color: #51afef;
  font-weight: 400;
  font-style: italic;
  border-bottom: 1px solid #5B6268;
  padding-bottom: 1rem;
}
h2 a {
  color: inherit;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  line-height: 1;
  color: #c678dd;
  font-style: italic;
}
h3 a {
  color: inherit;
}

h4 {
  color: #a9a1e1;
  font-style: italic;
}
h4 a {
  color: inherit;
}

a {
  color: #51afef;
  text-decoration: none;
}

b {
  color: #DFDFDF;
}

textarea {
  overflow-x: auto;
}

#navbar {
  background-color: #202328;
}
#navbar ul {
  list-style-type: none;
}
#navbar ul li {
  display: inline;
  font-size: 1.7rem;
}
#navbar ul li a {
  font-weight: bold;
  margin-right: 2rem;
  color: #98be65;
}

.subtitle {
  font-weight: bold;
  margin-top: 0;
}

#content {
  max-width: 1400px;
  margin: 0rem 2rem 0rem 1rem;
  display: inline-grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto [last-line];
}
#content #table-of-contents {
  grid-column: 1;
  grid-row: 1/last-line;
  grid-row-start: span 20;
  margin: 2rem 2rem 1rem 1rem;
}
#content :not(#table-of-contents) {
  grid-column: 2;
}

.results {
  color: #5B6268;
  margin-bottom: -0.9em;
}

@media screen and (max-width: 1200px) {
  #content {
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #content > #table-of-contents {
    grid-column: 1;
    margin: 0rem;
  }

  #content > :not(#table-of-contents) {
    grid-column: 1;
  }
}
@media screen and (max-width: 900px) {
  #content {
    margin: 0rem 1rem 0rem 1rem;
  }
}
p.verse {
  margin-left: 3%;
}

img {
  display: block;
  margin: auto;
}

.figure {
  padding: 1em;
}

.figure p {
  text-align: center;
}

.org-svg {
  width: 90%;
}

code {
  color: #98be65;
  font-size: 1.3rem;
  font-weight: bold;
}

pre {
  padding: 15px;
  font-size: 1.3rem;
  line-height: 1.6rem;
  background-color: #202328;
}

.code-highlighted {
  background-color: #ffff00;
}

table {
  border-collapse: collapse;
}
table th, table td {
  vertical-align: top;
  padding: 0.5rem;
  border: 1px solid #3f444a;
}

caption.t-above {
  caption-side: top;
}

caption.t-bottom {
  caption-side: bottom;
}

th.org-right {
  text-align: center;
}

th.org-left {
  text-align: center;
}

th.org-center {
  text-align: center;
}

td.org-right {
  text-align: right;
}

td.org-left {
  text-align: left;
}

td.org-center {
  text-align: center;
}

dt {
  font-weight: bold;
}

.footpara {
  display: inline;
}

.footdef {
  margin-bottom: 1em;
}

.equation-container {
  display: table;
  text-align: center;
  width: 100%;
}

.equation {
  vertical-align: middle;
}

.equation-label {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.inlinetask {
  padding: 10px;
  border: 2px solid gray;
  margin: 10px;
  background: #ffffcc;
}

#org-div-home-and-up {
  text-align: right;
  font-size: 70%;
  white-space: nowrap;
}

.linenr {
  font-size: smaller;
}

/*# sourceMappingURL=main.css.map */
